// app global css in SCSS form
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  font-stretch: 25% 151%;
  src: url(./fonts/Raleway.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-stretch: 25% 151%;
  src: url(./fonts/Garamond.woff) format("woff");
}

@mixin font-default {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@mixin font-accent {
  font-family: "Garamond", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
@mixin text-link {
  border-bottom: 1px hsla(0deg, 0%, 0%, 0);
  color: inherit;
  position: relative;
  text-decoration: none;
  z-index: 888;
  &:after {
    background-color: hsla(0deg, 0%, 0%, 0.5);
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: -0.1rem;
    right: -0.1rem;
    left: -0.1rem;
    transition: height 0.3s ease-out, background 0.3s ease-out;
    transform-origin: bottom center;
    z-index: -1;
  }
  &:hover {
    &::after {
      background-color: hsla(0deg, 0%, 0%, 0.25);
      height: 110%;
    }
  }
}

.font-default {
  @include font-default;
}
.font-accent {
  @include font-accent;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  @include font-accent;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  a {
    @include text-link;
  }
}
