// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #b7b09d;
$secondary: #d7d7d7;
$accent: #686158;

$dark: #686158;

$positive: #9cc0a6;
$negative: #c10015;
$info: #bbc6df;
$warning: #cabfdf;

$body-font-size: 16px;
$typography-font-family: "Raleway", sans-serif;

$tooltip-fontsize: 14px;
